<div class="row red darken-3 z-depth-4" style="display: none; margin-top: 20px; border-radius: 10px;">
    <div class="col s12 m12 l12" id="alerts" style="position: relative; padding: 10px 0px;"></div>
</div>
<h1 class="text-4xl text-center">Inscription</h1>
<div class="w-80 mt-8">
    <form method="post" action="/users">
        <div class="w-full">
            <label class="label">
                <span class="label-text">Nom d'utilisateur</span>
            </label>
            <input placeholder="John DOE" class="input input-bordered w-full max-w-xs" name="username" type="email" />
        </div>
        <div class="w-full">
            <label class="label">
                <span class="label-text">Email</span>
            </label>
            <input placeholder="john.doe@email.com" class="input input-bordered w-full max-w-xs" name="email" type="email" />
        </div>
        <div class="w-full">
            <label class="label">
                <span class="label-text">Mot de passe</span>
            </label>
            <input placeholder="••••••••" class="input input-bordered w-full max-w-xs" name="password" type="password"/>
        </div>
        <button class="btn btn-outline btn-info mt-6 w-full" type="submit">Inscription</button>
    </form>
</div>