<!-- <nav>
  <div class="nav-wrapper teal darken-3">
    <a href="/" class="brand-logo" style="margin-left:10px"> LaSup</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if (user) { %>
        <li><a href="/equipment/create">Créer une Sup</a></li>
        <li><a href="/users/profile"><%= user.username %></a></li>
        <li><a href="/auth/signout" class="mx-3">Déconnexion</a></li>
      <% } else { %>
        <li><a href="/users/new" class="mx-3">Inscription</a></li>
        <li><a href="/auth/signin" class="mx-3">Connexion</a></li>
      <% } %>
    </ul>
  </div>
</nav> -->

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">LaSup</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if (user) { %>
        <li><a href="/equipment/create">Créer une Sup</a></li>
        <li tabindex="0">
          <a>
            <%= user.username %>
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a href="/users/profile">Profil</a></li>
            <li><a href="/auth/signout">Déconnexion</a></li>
          </ul>
        </li>
      <% } else { %>
        <li><a href="/users/new" class="mx-3">Inscription</a></li>
        <li><a href="/auth/signin" class="mx-3">Connexion</a></li>
      <% } %>
    </ul>
  </div>
</div>