<nav>
    <div class="nav-wrapper teal darken-3">
      <a href="/" class="brand-logo" style="margin-left:10px"> LaSup</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/equipment/create">Créer une Sup</a></li>
        <li><a href="/users">Les utilisateurs</a></li>
      </ul>
    </div>
  </nav>