<div class="row red darken-3 z-depth-4" style="display: none; margin-top: 20px; border-radius: 10px;">
    <div class="col s12 m12 l12" id="alerts" style="position: relative; padding: 10px 0px;"></div>
  </div>
  <h3 class="header">Ajouter un équipement</h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" name="name">
          <label for="name">Nom</label>
        </div>
        <div class="input-field col s6">
          <input id="ip" type="text" class="validate" name="ip">
          <label for="ip">Adresse IP</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" name="description"></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn teal darken-3" id="createEquipment" type="button">Ajouter</button>
    </form>
  </div>