<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="h-screen">
    <%- include('../../partials/navbar'); %>
      <%- include(`./${page}`); %> 
  </body>
</html>
