<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body>
    <%- include('../../partials/navbar'); %>

    <div class="container">
      <%- include(`./${page}`); %> 
    </div>
  </body>
</html>
